<tr>
	<td><%= article.name %></td>
	<td><%= link_to 'Show', article %></td>
	<td><%= link_to 'Edit', edit_article_path(article) %></td>
	<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>