<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table id="articles">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <%= render @articles %>
  </tbody>
</table>

<br>
<div id="new-article">
  <%= link_to 'New Article', new_article_path, remote: true %>
</div>

